In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

The Goal of this project is to better understand the 2022 NBA Finals Matchup

In [2]:
nba = pd.read_csv('/Users/palvins/Downloads/nbaConverted.csv', encoding= 'unicode_escape', sep = ',')

In [3]:
# remove asterisks from team names
nba["Team"] = nba["Team"].str.replace("*","", regex=False)
nba.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,1.0,Boston Celtics,26.1,51.0,31.0,59,23,7.28,-0.26,7.02,...,0.195,NaN,0.502,12.5,77.3,0.183,NaN,TD Garden,727928,17754
1,2.0,Phoenix Suns,27.5,64.0,18.0,59,23,7.50,-0.56,6.94,...,0.176,NaN,0.510,13.0,77.1,0.195,NaN,Phoenix Suns Arena,663171,16175
2,3.0,Utah Jazz,29.3,49.0,33.0,56,26,6.04,-0.37,5.67,...,0.208,NaN,0.521,10.9,78.3,0.164,NaN,Vivint Smart Home Arena,750546,18306
3,4.0,Memphis Grizzlies,24.0,56.0,26.0,55,27,5.68,-0.32,5.37,...,0.180,NaN,0.523,13.3,77.8,0.195,NaN,FedEx Forum,646785,15775
4,5.0,Golden State Warriors,27.6,53.0,29.0,55,27,5.54,-0.02,5.52,...,0.181,NaN,0.509,13.0,78.7,0.201,NaN,Chase Center,740624,18064

In [4]:
# teams.sort_values("Team", inplace = True)
teams_to_keep = [name for name in nba['Team'] if name in ['Golden State Warriors', 'Boston Celtics']]
print('Teams in Finals: ', teams_to_keep)

# Brute Force Method implemented as general case logic not working
# nba.index selects index of rows which passes condition
# nba.drop(nba[(nba['Team'] not in teams_to_keep)].index, inplace=True)

# Brute Force Method
nba.drop(nba.index[1:4], inplace = True)
nba.drop(nba.index[2:29], inplace = True)
nba

Teams in Finals:  ['Boston Celtics', 'Golden State Warriors']

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,1.0,Boston Celtics,26.1,51.0,31.0,59,23,7.28,-0.26,7.02,...,0.195,NaN,0.502,12.5,77.3,0.183,NaN,TD Garden,727928,17754
4,5.0,Golden State Warriors,27.6,53.0,29.0,55,27,5.54,-0.02,5.52,...,0.181,NaN,0.509,13.0,78.7,0.201,NaN,Chase Center,740624,18064

Advanced Stats for The Finals Teams

In [5]:
# Column Cleaning
nba.drop(columns=['Unnamed: 17', 'Unnamed: 22', 'Unnamed: 27', 'Arena', 'Attend.', 'Attend./G'], inplace = True)
pd.set_option('display.max_columns', None)
nba

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,1.0,Boston Celtics,26.1,51.0,31.0,59,23,7.28,-0.26,7.02,114.4,106.9,7.5,96.6,0.239,0.425,0.578,0.542,12.4,24.0,0.195,0.502,12.5,77.3,0.183
4,5.0,Golden State Warriors,27.6,53.0,29.0,55,27,5.54,-0.02,5.52,112.5,106.9,5.6,98.4,0.235,0.456,0.582,0.552,13.5,22.8,0.181,0.509,13.0,78.7,0.201